<!DOCTYPE html>
<body">

<h1 style="color:red;font-size:200%"><U>WELCOME TO WEBSECURITY FUNDAMENTALS</B></U> </h1></br>
</br>
<p1 style="font-size:150%">Name: Naveen Kumar</p1> 
</br>
<p1 styl="font-size:150%">Student ID: 86024</p1> 
</br>
</br>
<p1 style="color:green;font-size:200%"> This class fundametals of web security helped to learn about </p1> 
</br><p1 style="color:green;font-size:200%">Routers configuration, Firewall, switches, routers and encyption concepts</p1>

</body>
</html>